deb http://repo.saltstack.com/apt/debian/{{ cumulus.version.number }}/amd64/latest {{ cumulus.version.name }} main
deb http://ftp.us.debian.org/debian/ {{ cumulus.version.name }} main contrib non-free
