{% if use_syndics %}
# When using syndic nodes
order_masters: True
{% endif %}

# File configs
file_roots:
  base:
    - /srv/salt/
    - /srv/salt/files
    - /srv/salt/formulas
    - /srv/salt/reactors
    - /srv/salt/states
    - /srv/salt/templates

    # Salt formulas
{% if salt_formulas %}
{% for formula in salt_formulas %}
    - /srv/salt/formulas/{{ formula.name }}
{% endfor %}
{% endif %}

# Pillar configs
pillar_roots:
  base:
    - /srv/salt/pillar

# Jinja ENV 
jinja_env:
  trim_blocks: True 
  lstrip_blocks: True

jinja_sls_env:
  trim_blocks: True 
  lstrip_blocks: True

