{% if use_syndics %}
# When using syndic nodes
order_masters: True
{% endif %}

# File configs
file_roots:
  base:
    - /srv/salt/
    - /srv/salt/pillar
    - /srv/salt/states
    - /srv/salt/reactors
    - /srv/salt/templates
    - /srv/salt/formulas

    # Salt formulas
{% if salt_formulas %}
{% for formula in salt_formulas %}
    - /srv/salt/formulas/{{ formula.name }}
{% endfor %}
{% endif %}

# Pillar configs
pillar_roots:
  base:
    - /srv/salt/pillar

